/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-green: #00B9AE;
  --clr-gray: #21242D;
  --clr-dark: 230 35% 7%;
  --clr-light: 249 249 249;
}

/* set up the body */
body {
  font-family: 'Reddit Mono', sans-serif;
  background-color: var(--clr-gray);
  color: rgb(var(--clr-light));
}

/* ------------------- */
/* Components          */
/* ------------------- */
.header {
  padding: 0.8rem;
  height: 5rem;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.logo {
  font-size: 3rem;
  font-weight: 600;
}

.navigation-list {
  display: flex;
  font-weight: 500;
}

.navigation-item:not(:last-child) {
  margin-right: 1rem;
}

.search-input {
  display: inline-flex;
  position: relative;
  height: 2.5rem;
  padding: 0.7rem;
  background-color: hsla(0, 0%, 100%, .20);
  border-radius: 0.8rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: none;
}

.search-input:focus {
 outline: none;
}

.search-btn {
  position: absolute;
  border: none;
  transform: translateX(-2rem);
  width: 3rem;
  height: 2.5rem;
  border-radius: 0.8rem;
  background-color: var(--clr-green);
  color: rgb(var(--clr-light));
}

/* Hero slider */
.hero-showcase {

}

/* Slider container */
.slider-container {
  display: flex;
  padding-block: 2rem;
}


/* Top Movies & TV Series card common styles */
.card {
  width: 10rem;
  height: 15rem;
  background-color: aliceblue;
}

.card:not(:last-child) {
  margin-right: 1rem;
}

/* Top Movies slider */

/* Top Movies card */

/* Top TV Series slider */

/* Top TV Series card */
.top-series-card {

}


/* ----------------------------- */
/* Utility classes               */
/* ----------------------------- */
.container {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 0 20px;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.top-title {
  position: relative;
  padding-left: 0.8rem;
}

.top-title::before {
  content: '';
  position: absolute;
  left: 0;
  background-color: var(--clr-green);
  height: 100%;
  width: 0.2rem;
}

.btn-all {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.btn-all .fa-chevron-right {
  font-size: 0.6rem;
  margin-left: 0.4rem;
}

.section-mb {
  margin-bottom: 2rem;
}